{% load i18n %}

<style>
    [x-cloak] {
        display: none !important;
    }
</style>

{% block header %}
    <nav class="shadow-lg sticky top-0 z-50 flex items-center justify-between  bg-orange-500 p-6">
        <div class="text-white flex">
            <div class="border-r-2 border-orange-400">
                <div class="sm:max-w-xl mr-2">
                    <nav x-data="{ openMenu: false }" @click.outside="openMenu = false">
                        <button class="text-gray-600 w-10 h-10 relative focus:outline-none" @click="openMenu = !openMenu">
                            <span class="sr-only">Open main menu</span>
                            <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': openMenu,' -translate-y-1.5': !openMenu }"></span>
                                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'opacity-0': openMenu } "></span>
                                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'-rotate-45': openMenu, ' translate-y-1.5': !openMenu}"></span>
                            </div>
                        </button>
                        <!-- Pop Out Navigation -->
                        <nav class="fixed top-20 right-0 bottom-0 left-0 backdrop-blur-sm z-10 h-fit"
                             :class="openMenu ? 'visible' : 'invisible' " x-cloak>
                            <div class=" bg-orange-400 drop-shadow-2xl z-10 transition-all grid grid-cols-3"
                                 :class="openMenu ? 'translate-y-0' : 'translate-y-full'">
                                <div class="border-b border-inherit">
                                    <p class="block p-4">{% translate "Recipe by category" %}</p>
                                </div>
                                <div class="border-b border-inherit">
                                    <a href="#" class="block p-4">About</a>
                                </div>
                                <div class="border-b border-inherit">
                                    <a href="#" class="block p-4">Articles</a>
                                </div>
                                <div class="border-b border-inherit">
                                    <a href="#" class="block p-4">Foo</a>
                                </div>
                                <div class="border-b border-inherit"></div>
                            </div>
                        </nav>
                    </nav>
                </div>
            </div>
            <div class="flex ml-3">
                {% include 'apicius/partials/logo.html' %}
                <span class="font-semibold text-2xl tracking-tight"><a href="{% url 'index' %}">Apicius</a></span>
            </div>
        </div>
        <!-- Search -->
        <div class="lg:w-3/4 sm:w-2/3">
            <form action="/search">
                <div class="relative">
                    <input type="text" name="q" class="w-full border-orange-50 focus:border-orange-50 focus:outline-none focus:ring focus:ring-orange-300 h-10 shadow p-4 rounded-full " placeholder="Search anything...">
                    <button type="submit">
                        <svg class="text-orange-400 h-5 w-5 absolute top-2.5 right-3 fill-current"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                             x="0px" y="0px" viewBox="0 0 56.966 56.966"
                             style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
                            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z">
                            </path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <!-- Login -->
        <div class="">
            <button class="text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-orange-500 hover:bg-white ">Login</button>
        </div>
    </nav>
{% endblock %}